.nav {
  grid-area: n;
  background-color: #3c5c42;
  height: 800px;
}
.item a {
  display: block;
  color: #dae2d7;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 5px;
  line-height: 30px;
  font-size: 20px;
}
.nav a:hover {
  color: #8bc5ff;
}
.nav_main {
  display: block;
  margin: 20px 0 30px;
}
.item a.active {
  color: gold;
}