.ava_wrapper {
  display: flex;
}
.avatar {
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.ava_info {
  margin-bottom: 15px;
}
.user_name {
  margin-bottom: 20px;
  font-weight: bold;
}
.personal_info p {
  font-size: 14px;
}